*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:'Times New Roman', Times, serif;
        }

        nav{
            background-color: gray;
            color: white;
            padding: 20px;
        }

        li, h1, ul{
            display: inline;
        }

        ul{
            margin-left: 55%;
        }

        li{
            color: black;
            cursor: pointer;
            margin-right: 10px;
        }


        li:hover{
            color:darkblue;
        }

        .section{
            padding: 40px;
            font-family:'Times New Roman', Times, serif;
        }

        .title{
            margin-bottom: 15px;
            color: blueviolet;
             
        }

         

        .box{
            background: #f2f2f2;
            padding: 20px;
            margin-top: 10px;
            border-radius: 8px;
            margin-left: 10px;
            margin-right: 30px;
             
        }

        .footer{
            background: gray;
            color: black;
            text-align: center;
            padding: 15px;
        }

        @media(max-width:768px){
            ul{
                margin-right:10%;
            }
        }
        .intro{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .intro-text{
            width: 50%;
        }

        .intro-img{
            width: 500px;
            height: 300px;
            display: flex;
            justify-content: flex-end;   
            margin-left: 900px;
            margin-top: 100px;
            margin-bottom: -400px;

        }

        .intro-img img{
            width: 100%;
            margin-left: 400px;
        }
 
 